.maglers-list {
    list-style-type: disc;
    text-align: left;
    list-style-position: inside;
}

.maglers-citation-body {
    border-radius: 0%;
}

.maglers-btn {
    background-color: #519657 !important;
    border: 2px solid #519657 !important;
}