{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="" loading="lazy">
      </div>
      <div class="col-md-4">
        <div class="project-details">
          {{ if .Params.ProjectDescription }}
          <h4>{{ i18n "projectDetails" }}</h4>
          <p class="text-justify">{{ .Params.ProjectDescription | markdownify }}</p>
          {{ end }}
          {{ if .Params.ResearchTopics }}
          <br />
          <h4>{{ i18n "researchTopics" }}:</h4>
          <ul class="maglers-list">
            {{ range .Params.ResearchTopics }}
            <li><p>{{ . | markdownify }}</p></li>
            {{ end }}
          </ul>
          {{ end }}
          {{ if .Params.Constructions }}
          <br />
          <h4>{{ i18n "lab-constructions" }}:</h4>
          <ul class="maglers-list">
            {{ range .Params.Constructions }}
            <li><p>{{ . | markdownify }}</p></li>
            {{ end }}
          </ul>
          {{ end }}
          {{ if .Params.LabGear }}
          <br />
          <h4>{{ i18n "labGear" }}:</h4>
          <ul class="maglers-list">
            {{ range .Params.LabGear }}
            <li><p>{{ . | markdownify }}</p></li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action -->
{{ if $data.about.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}